h3{
            text-align: right;
        }
        address{
            text-align: right;
        }
        .text1{
            text-align: right;
        }
        h2{
            font-family: "Bad Script", cursive;
            font-weight: 400;
            font-style: normal;
            text-decoration: underline;
            text-indent: 2%; 
        }
        .text2{
            font-family: "Bad Script", cursive;
            font-weight: 400;
            font-style: normal;
            text-indent: 2%;
        }